<!DOCTYPE html>
<html lang="zh">

<head>
    <title><%= data.姓名 %></title>
    <link rel="stylesheet" href="https://unpkg.com/mdui@1.0.2/dist/css/mdui.min.css" />
    <link rel="stylesheet" type="text/css" href="/public/style.css">
    <link rel="stylesheet" type="text/css" href="/public/wu.css">
    <script src="/public/jquery-3.6.0.min.js"></script>
</head>

<body class="mdui-theme-primary-pink" style="padding-top: 65px;" mdui-collapse="{accordion: false}">
    <header class="mdui-appbar mdui-appbar-fixed">
        <div class="mdui-toolbar mdui-color-theme">
            <span class="mdui-btn mdui-btn-icon mdui-ripple mdui-ripple-white">
                <i class="mdui-icon material-icons">menu</i>
            </span>
            <span class="mdui-typo-headline mdui-hidden-xs">
                <%= data.state == 'ok' ? data.姓名 : '查询失败' %>
            </span>
        </div>
    </header>
    <section class="main-content mdui-container mdui-collapse-item mdui-collapse-item-open mdui-shadow-3">
        <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">account_circle</i>
            <div class="mdui-list-item-content">基本信息</div>
            <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="content-list mdui-collapse-item-body">
            <div class="list-box">
                <ul class="mdui-list">
                    <li class="mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">account_circle</i>
                        <div class="mdui-list-item-content list-item-title">姓名</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.姓名 %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">accessibility</i>
                        <div class="mdui-list-item-content list-item-title">性别</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.性别 %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">airline_seat_flat</i>
                        <div class="mdui-list-item-content list-item-title">出生日期</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.出生日期 %>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list-box">
                <ul class="mdui-list">
                    <li class="mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">account_box</i>
                        <div class="mdui-list-item-content list-item-title">证件号码</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.证件号码 %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">format_list_numbered</i>
                        <div class="mdui-list-item-content list-item-title">客户记录编号</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.客户记录编号 %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <i class="mdui-list-item-icon mdui-icon material-icons">textsms</i>
                        <div class="mdui-list-item-content list-item-title">备注</div>
                        <div class="mdui-list-item-content list-item-text mdui-textfield mdui-text-truncate">
                            <input id="remark" class="mdui-textfield-input" remark="<%= data.id %>" type="text" placeholder="备注" value="<%= data.备注 %>" />
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="main-content mdui-container mdui-collapse-item mdui-shadow-3">
        <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">people</i>
            <div class="mdui-list-item-content">更多信息</div>
            <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="content-list mdui-collapse-item-body">
            <div class="list-box">
                <ul class="mdui-list">
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">证件类型</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.证件类型 ? data.证件类型 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">证件有效开始日期</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.证件有效开始日期 ? data.证件有效开始日期 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">证件有效结束日期</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.证件有效结束日期 ? data.证件有效结束日期 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">子女状况</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.子女状况 ? data.子女状况 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">国籍</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.国籍 ? data.国籍 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">客户等级</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.客户等级 ? data.客户等级 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">VIP标识</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.VIP标识 ? data.VIP标识 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">婚姻状况</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.婚姻状况 ? data.婚姻状况 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">宗教</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.宗教 ? data.宗教 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">民族</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.民族 ? data.民族 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">是否退休</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.是否退休 ? data.是否退休 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">是否存在客户密码</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.是否存在客户密码 ? data.是否存在客户密码 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">黑名单标识</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.黑名单标识 ? data.黑名单标识 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">生存状态</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.生存状态 ? data.生存状态 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">死亡日期</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.死亡日期 ? data.死亡日期 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">身高(m)</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data['身高(m)'] ? data['身高(m)'] : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">体重(kg)</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data['体重(kg)'] ? data['体重(kg)'] : '-' %>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="list-box">
                <ul class="mdui-list">
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">MDM客户ID</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.MDM客户ID ? data.MDM客户ID : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">职业代码</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.职业代码 ? data.职业代码 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">职业等级</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.职业等级 ? data.职业等级 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">上海医保职业代码</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.上海医保职业代码 ? data.上海医保职业代码 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">工作单位</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.工作单位 ? data.工作单位 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">职务</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.职务 ? data.职务 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">年收入</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.年收入 ? data.年收入 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">收入来源</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.收入来源 ? data.收入来源 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">是否吸烟</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.是否吸烟 ? data.是否吸烟 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">是否喝酒</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.是否喝酒 ? data.是否喝酒 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">客户风险等级</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.客户风险等级 ? data.客户风险等级 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">既往拒保</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.既往拒保 ? data.既往拒保 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">既往理赔</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.既往理赔 ? data.既往理赔 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">税收居民身份</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.税收居民身份 ? data.税收居民身份 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">居民类型</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.居民类型 ? data.居民类型 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">社保</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.社保 ? data.社保 : '-' %>
                        </div>
                    </li>
                    <li class="mdui-list-item mdui-ripple">
                        <div class="mdui-list-item-content list-item-title">特殊人员类型</div>
                        <div class="mdui-list-item-content list-item-text click-to-copy">
                            <%= data.特殊人员类型 ? data.特殊人员类型 : '-' %>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <section class="main-content mdui-container mdui-collapse-item mdui-collapse-item-open mdui-shadow-3">
        <div class="mdui-collapse-item-header mdui-list-item mdui-ripple">
            <i class="mdui-list-item-icon mdui-icon material-icons">assignment</i>
            <div class="mdui-list-item-content">保单信息</div>
            <i class="mdui-collapse-item-arrow mdui-icon material-icons">keyboard_arrow_down</i>
        </div>
        <div class="mdui-collapse-item-body mdui-table-fluid">
            <table class="mdui-table mdui-table-hoverable">
                <thead>
                    <tr>
                        <th><p>#</p></th>
                        <th><p>保单号</p><p>责任组名称</p></th>
                        <th><p>客户角色</p><p>保险期间</p></th>
                        <th><p>关系</p><p>保额/份数/档次</p></th>
                        <th><p>电话</p><p>标准保费</p></th>
                        <th><p>保单状态</p><p>交费方式</p></th>
                        <th><p>账户余额</p><p></p></th>
                        <th><p>地址</p><p>受益人</p></th>
                        <th><p>转保标识</p><p>责任组状态</p></th>
                        <th><p>服务人员</p><p>交费期间</p></th>
                        <th><p>销售人员</p><p>交费状态</p></th>
                        <th><p>投保日期</p><p>下期应交日</p></th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < data.保单信息.length; i++) { %>
                        <tr>
                            <td><a href="/wb?id=<%= data.保单信息[i].id ? data.保单信息[i].id : '-' %>" target="_blank">
                                <p class="mdui-text-truncate"><%= i + 1 %></p>
                            </a></td>
                            <td class=""><a href="/wb?id=<%= data.保单信息[i].id ? data.保单信息[i].id : '-' %>" target="_blank">
                                <p class="click-to-copy mdui-text-truncate td-mid"><%= data.保单信息[i].保单号 ? data.保单信息[i].保单号 : '-' %></p>
                                <% for (let j = 0; j < data.保单信息[i].险种信息.length; j++) { %>
                                    <p class="mdui-text-truncate td-mid"><%= data.保单信息[i].险种信息[j].责任组名称 %></p>
                                <% } %>
                            </a></td>
                            <td class="">
                                <p class="mdui-text-truncate"><%= data.保单信息[i].客户角色 ? data.保单信息[i].客户角色 : '-' %></p>
                                <% for (let j = 0; j < data.保单信息[i].险种信息.length; j++) { %>
                                    <p class="mdui-text-truncate td-mid"><%= data.保单信息[i].险种信息[j].保险期间 %></p>
                                <% } %>
                            </td>
                            <td class="">
                                <p class="mdui-text-truncate"><%= data.保单信息[i].关系 ? data.保单信息[i].关系 : '-' %></p>
                                <% for (let j = 0; j < data.保单信息[i].险种信息.length; j++) { %>
                                    <p class="mdui-text-truncate td-mid"><%= data.保单信息[i].险种信息[j]['保额/份数/档次'] %></p>
                                <% } %>
                            </td>
                            <td class="">
                                <p class="mdui-text-truncate click-to-copy td-relation"><%= data.保单信息[i].电话 ? data.保单信息[i].电话 : '-' %></p>
                                <% for (let j = 0; j < data.保单信息[i].险种信息.length; j++) { %>
                                    <p class="mdui-text-truncate td-relation"><%= data.保单信息[i].险种信息[j].标准保费 %></p>
                                <% } %>
                            </td>
                            <td class="">
                                <p class="mdui-text-truncate"><%= data.保单信息[i].保单状态 ? data.保单信息[i].保单状态 : '-' %></p>
                                <% for (let j = 0; j < data.保单信息[i].险种信息.length; j++) { %>
                                    <p class="mdui-text-truncate td-mid"><%= data.保单信息[i].险种信息[j].交费方式 %></p>
                                <% } %>
                            </td>
                            <td class="">
                                <p class="mdui-text-truncate"><%= data.保单信息[i].账户余额 ? data.保单信息[i].账户余额 : '-' %></p>
                            </td>
                            <td>
                                <p class="click-to-copy mdui-text-truncate td-mid"><%= data.保单信息[i].地址 ? data.保单信息[i].地址 : '-' %></p>
                                <% for (let j = 0; j < data.保单信息[i].险种信息.length; j++) { %>
                                    <p class="click-to-copy mdui-text-truncate td-mid"><%= data.保单信息[i].险种信息[j].受益人 %></p>
                                <% } %>
                            </td>
                            <td class="">
                                <p class="mdui-text-truncate click-to-copy td-mid"><%= data.保单信息[i].转型保单标识 ? data.保单信息[i].转型保单标识 : '-' %></p>
                                <% for (let j = 0; j < data.保单信息[i].险种信息.length; j++) { %>
                                    <p class="mdui-text-truncate td-mid"><%= data.保单信息[i].险种信息[j].责任组状态 %></p>
                                <% } %>
                            </td>
                            <td class="">
                                <p class="mdui-text-truncate click-to-copy td-mid"><%= data.保单信息[i].服务人员 ? data.保单信息[i].服务人员 : '-' %></p>
                                <% for (let j = 0; j < data.保单信息[i].险种信息.length; j++) { %>
                                    <p class="mdui-text-truncate td-mid"><%= data.保单信息[i].险种信息[j].交费期间 %></p>
                                <% } %>
                            </td>
                            <td class="">
                                <p class="mdui-text-truncate click-to-copy td-mid"><%= data.保单信息[i].销售人员 ? data.保单信息[i].销售人员 : '-' %></p>
                                <% for (let j = 0; j < data.保单信息[i].险种信息.length; j++) { %>
                                    <p class="mdui-text-truncate td-mid"><%= data.保单信息[i].险种信息[j].交费状态 %></p>
                                <% } %>
                            </td>
                            <td class="">
                                <p class="mdui-text-truncate click-to-copy td-mid"><%= data.保单信息[i].投保日期 ? data.保单信息[i].投保日期 : '-' %></p>
                                <% for (let j = 0; j < data.保单信息[i].险种信息.length; j++) { %>
                                    <p class="mdui-text-truncate td-mid"><%= data.保单信息[i].险种信息[j].下期应交日 %></p>
                                <% } %>
                            </td>

                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </section>
    <script src="/public/wu.js"></script>
    <script src="/public/mdui.min.js"></script>
</body>

</html>